@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}
*{
    font-family: sans-serif;
 }


 /* Header index */
.te{
    width: 30px ;
}
.logo{
    width: 200px;
}
.header{
    list-style-type: none;
    text-transform: uppercase;
    background-color: azure;
    box-shadow:  2px 2px 15px rgb(115, 115, 116);
    flex-wrap: wrap;
}
.header a{
    text-decoration: none;
    color:rgb(35, 37, 42);
} 
.correo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    margin: 0px;
}
.header ul{
    list-style-type: none ;
    padding: 0px;
    margin: 0px;
}


.linkedin{
    background-color: rgb(28, 151, 223);
    padding: 5px;
    margin: 10px;
    display: inline-block;
}
.instagram{
    background-color: rgb(233, 73, 134);
    padding: 5px;
    margin: 10px;
    display: inline-block;
}
.facebook{
    background-color: rgb(113, 113, 233);
    padding: 5px;
    margin: 10px;
    display: inline-block;
}
.link-secciones{
    /* background-color: aqua; */
    margin: 10px;
    /* padding: 10px; */

}
.link-secciones li{
    background-color: aliceblue;
    margin: 10px;
    display: inline-block;
    padding: 5px;
}


.header-hijo div{
    background-color: rgb(107, 114, 181); 
    /* border: 2px solid; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center
}



/* Nosotros */

.nav-nosotros{
    background-color: azure ;
    color:rgb(35, 37, 42);
    text-transform: uppercase;
    box-shadow:  2px 2px 15px rgb(115, 115, 116);
}
.nav-nosotros a{
    color:rgb(35, 37, 42);
    text-decoration: none;
}
.nav-nosotros li {
    list-style-type: none ; 
} 
.edit-1{
    color: blue ;
}
.edit-2{
    color: blue;
}
.edit-3{
    color: blue;   
}
.article-nos{
    text-align: center;
}




/* Blog */
.blog{
    /* color: rgb(122, 126, 123); */
}
.nav-blog{
    background-color:azure ;
    color:rgb(35, 37, 42);
    text-transform: uppercase;
    box-shadow:  2px 2px 15px rgb(115, 115, 116);
}
.nav-blog a{
    color:rgb(35, 37, 42);
    text-decoration: none;
}
.nav-blog li{
    list-style-type: none ;
    /* font-family: sans-serif; */
}



/* Servcios */

.servicios{
    color: rgb(122, 126, 123);
}
.nav-servicios{
    background-color:azure ;
    /* color:rgb(39, 75, 238); */
    text-transform: uppercase;
    box-shadow:  2px 2px 15px rgb(115, 115, 116);
}
.nav-servicios a{
    color:rgb(35, 37, 42);
    text-decoration: none;
}
.nav-servicios li{
    list-style-type: none ;
    font-family: sans-serif;
}
.edit-4{
    color: blue;
}
.bienvenidos-2{
    text-align: center;
}
.filosofia{
    color: blue;
}
.vision-tecno{
   color: blue;
}
.servicios-web{
    color: blue;
}





/* Contacto */
.contacto{
    color: rgb(122, 126, 123);
}
.nav-contacto{
    background-color:azure ;
    color:rgb(35, 37, 42);
    text-transform: uppercase;
    box-shadow:  2px 2px 15px rgb(115, 115, 116);
}
.nav-contacto a{
    color:rgb(35, 37, 42);
    text-decoration: none;
}
.nav-contacto li{
    list-style-type: none ;
    /* font-family: sans-serif; */
}
/* Main */

.main img{
    width: 750px;
 }
.bienvenidos{
    text-align: center;
}
.edit{
    color: blue;
}


 /* Footer */
 .footer-index{
    background-color: rgb(70, 70, 233);
    margin: 20px;
    padding: 10px;
    color: white;
 }
 .footer-index ul{
    list-style-type: none;
    background-color: aquamarine;
    padding: 5px;
 }
 .footer-index p{
    text-align: center;
    font-family: 'Tangerine', cursive;  
 }
 .footer-index li{
    background-color: rgb(76, 141, 136);
    padding: 2px;
    display: inline-block;
 }