@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
}
*{
    font-family: sans-serif;
 }


 /* Header index */
.te{
    width: 30px ;
}
.logo{
    width: 200px;
}
.header{
    list-style-type: none;
    text-transform: uppercase;
    background-color: azure;
    box-shadow:  2px 2px 15px rgb(115, 115, 116);
}
.header a{
    text-decoration: none;
    
} 
.correo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}
.header ul{
    list-style-type: none ;
}
.linkedin{
    background-color: rgb(28, 151, 223);
    padding: 5px;
    margin: 10px;
    display: inline-block;
}
.instagram{
    background-color: rgb(233, 73, 134);
    padding: 5px;
    margin: 10px;
    display: inline-block;
}
.facebook{
    background-color: rgb(113, 113, 233);
    padding: 5px;
    margin: 10px;
    display: inline-block;
}
.link-secciones{
    /* background-color: aqua; */
    margin: 10px;
    padding: 10px;

}
.link-secciones li{
    background-color: aliceblue;
    margin: 10px;
    display: inline-block;
    padding: 5px;
}